# Python cache
__pycache__/
*.pyc

# Env
.env

# Database files
*.db
*.dump

# OS junk
.DS_Store
.vscode/

# Next.js

.next

# Docker (remove later if i set it up properly)

Dockerfile
.dockerignore
docker-compose.yml
requirements.txt
.env.docker